@import url('https://fonts.googleapis.com/css2?family=Bangers&family=GFS+Didot&family=Gloria+Hallelujah&family=Rowdies&display=swap');
$font-bg: 'Bangers', cursive;
$font-diot: 'GFS Didot', serif;
$font-gloria: 'Gloria Hallelujah', cursive;
$font-row: 'Rowdies', cursive;
